<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFLUENCE HEALTH PREDICT</title>
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="viewport" content="width=device-width"> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/css/style.css">
    <!-- endbuild -->
  </head>
  <body ng-app="prmUiApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->


    <div class="container">
      <div class="header">
        <div class="row" id="headerjs">
          <div class="col-lg-12" id="headermain">
            <div class="col-md-6 col-sm-6 col-xs-8 logo">
              <div class="image-contnr">
                <img src="images/logo.png" alt="Bill & Melinda Gates - Foundation" />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-4 navigationbar">
            <!-- <div class="col-sm-4" data-ng-controller="MainCtrl">
              <a role="menuitem">Client</a>
              <dropdown-multiselect pre-selected="Clients" model="model" options="Clients" change-event="populateSpeciality(model)"></dropdown-multiselect>
            </div> -->
              <a role="menuitem" href="/#/home">HOME</a>
              <div class="dropdown openprofile">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  <img src="images/Profile-Pic.png" alt="profile pic" id="profileicon" />
                  <span id="name">{{username}}</span>
                  <span class="caret custom"></span>
                </button>
                <ul class="dropdown-menu openprofile-menu" role="menu" aria-labelledby="dropdownMenu1" id="profiledrop">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" id="edit">
                      <span title="Edit profile"></span>Edit profile</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" ng-click="logout()" tabindex="-1" href="/#/login" id="logout">
                      <span title="Log out"></span>Log Out</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div ng-view=""></div>
    </div>

    <!-- <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div> -->
    <div class="row" id="footerjs">
      <div class="col-lg-12 footer">
        <span>© Copyright 2015 <a href="http://www.emids.com" target="_blank">Influence Health. </a>All Rights Reserved.</span>
        <span><a href="">Lorum</a></span>
            <span>|</span>
            <span><a href="">Lorum</a></span>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    //  <script>
    //    !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
    //    (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
    //    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
    //    }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    //    ga('create', 'UA-XXXXX-X');
    //    ga('send', 'pageview');
    // </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.min.js"></script>
        <script src="scripts/custom.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/searchPhysician.js"></script>
        <script src="scripts/factories/searchPhysician.js"></script>
        <script src="scripts/directives/iuiTable.js"></script>
        <script src="scripts/directives/iuiSortHeading.js"></script>
        <script src="scripts/directives/customPagination.js"></script>
        <script src="scripts/factories/client.js"></script>
        <script src="scripts/directives/multiSelect.js"></script>
        
        <!-- endbuild -->
</body>
</html>
