<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="table-cell-action ng-action"><span><button class="no-btn" target="_blank">
<i class="round-icon_edit"></i></button> </span><span><button class="no-btn" target="_blank">
<i class="round-icon_view"></i></button> </span><span><button class="no-btn" target="_blank">
<i class="round-icon_unlock"></i></button> </span><span><button class="no-btn" target="_blank">
<i class="round-icon_submit"></i></button> </span><span><button class="no-btn" target="_blank">
<i class="round-icon_reopen"></i></button> </span></div>
</body>
</html>
