<a ng-show="iuiSortKey !== 'actions'" href="" class="iui-sort-heading" role="button" ng-click="iuiSortBy = iuiSortKey; iuiReverse=!iuiReverse" ng-class="{'sorted':iuiSortBy === iuiSortKey, 'reversed':iuiSortBy === iuiSortKey && iuiReverse===false}">
    <span class="sr-only">Sort by</span>
    <span ng-transclude></span>
</a>
<div ng-show="iuiSortKey == 'actions'" class="iui-sort-heading" role="button" ng-class="{'sorted':iuiSortBy === iuiSortKey, 'reversed':iuiSortBy === iuiSortKey && iuiReverse===false}">
    <span class="sr-only">Sort by</span>
    <span ng-transclude></span>
</div>