<td data-header="{{column.displayName}}" ng-repeat="column in iuiTable.displayColumns" ng-switch="column.field" class="list-table-{{column.field}} " >

    <span ng-cell-text tooltip-placement="top" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-html-unsafe="{{row.FirstName}}">{{row[column.field]}}</span>
    <!--
    <span class="text-wrap" ng-switch-when="first_name">
        <span ng-cell-text tooltip-placement="top" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-html-unsafe="{{row.FirstName}}">{{row[column.field]}}</span>
    </span>
    <span class="text-wrap" ng-switch-when="NPI">
        <span ng-cell-text tooltip-placement="top" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-html-unsafe="{{row.NPI}}">{{row[column.field]}}</span>
    </span> -->
</td>
