<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<span class="text-wrap"><span>{{row[column.field]}}</span> </span><span class="text-wrap"><span>{{row[column.field]}}</span>
</span><span class="text-wrap"><span>{{row[column.field]}}</span> </span><span class="text-wrap"><span>{{row[column.field]}}</span>
</span><span class="text-wrap"><span>{{row[column.field]}}</span> </span><span class="text-wrap"><span>{{row[column.field]}}</span>
</span><span class="text-wrap"><span>{{row[column.field]}}</span> </span><span>{{row[column.field] | date: 'M/d/yyyy'}}
</span>
<div>
<div class="hi-grid-menus"></div>
</div>
<span class="text-wrap"><span>{{row[column.field]}}</span> </span><span>{{row[column.field]}}
</span>
</body>
</html>
