<div class="ms-pagination clearfix">   
    <div class="pull-left"><span class="ms-pagination-total-items ">{{totalItemsText}}: {{totalItems}}</span>
    </div>
    <ul class="custom-pagination list-unstyled" ng-show="pages[4].number > 1">         
        <li ng-class="{active: pages[0].active, disabled: pages[0].disabled}">
            <button ng-disabled="pages[0].disabled" ng-class="{pagerDisabled: pages[0].disabled}" class="pager-button pull-left margin-right-5" ng-click="selectPage(pages[0].number)"><i class="glyphicon glyphicon-step-backward"><span class="sr-only">First Page</span></i></button>
            
        </li>        
        <li ng-class="{active: pages[1].active, disabled: pages[1].disabled}">            
            <button ng-disabled="pages[1].disabled" ng-class="{pagerDisabled: pages[1].disabled}" class="pager-button pull-left margin-right-5" ng-click="selectPage(pages[1].number)"><i class="glyphicon glyphicon-play glyphicon-back"></i><span class="sr-only">Previous Page</span></button>            
        </li>        
        <li>
            <div class="clearfix">                
                <label><span class="sr-only">Current Page</span><input class="form-control pagination-current-page" type="text" ng-model="pagenumber" only-digits></label>
                <span class="pagination-total-pages ">/{{pages[4].number}}</span>                
            </div>
        </li>
        <li ng-class="{active: pages[3].active, disabled: pages[3].disabled}">            
            <button ng-disabled="pages[3].disabled" ng-class="{pagerDisabled: pages[3].disabled}" class="pager-button pull-left margin-right-5" ng-click="selectPage(pages[3].number)"><i class="glyphicon glyphicon-play"></i><span class="sr-only">Next Page</span></button>            
        </li>        
        <li ng-class="{active: pages[4].active, disabled: pages[4].disabled}">            
            <button ng-disabled="pages[4].disabled" ng-class="{pagerDisabled: pages[4].disabled}" class="pager-button pull-left" ng-click="selectPage(pages[4].number)"><i class="glyphicon glyphicon-step-forward"></i><span class="sr-only">Last Page</span></button>            
        </li>        
    </ul>    
</div>
