<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="ms-pagination clearfix">
<div class="pull-left"><span class="ms-pagination-total-items ">{{totalItemsText}}: {{totalItems}}</span>
</div>
<ul class="custom-pagination list-unstyled">
<li><button class="pager-button pull-left margin-right-5" target="_blank"><i class="glyphicon glyphicon-step-backward"><span class="sr-only">First Page</span></i>
</button> </li><li><button class="pager-button pull-left margin-right-5" target="_blank"><i class="glyphicon glyphicon-play glyphicon-back"></i><span class="sr-only">Previous Page</span>
</button> </li><li>
<div class="clearfix"><label target="_blank"><span class="sr-only">Current Page</span><input class="form-control pagination-current-page" type="text" target="_blank"></label>
<span class="pagination-total-pages ">/{{pages[4].number}}</span> </div>
</li><li><button class="pager-button pull-left margin-right-5" target="_blank"><i class="glyphicon glyphicon-play"></i><span class="sr-only">Next Page</span>
</button> </li><li><button class="pager-button pull-left" target="_blank"><i class="glyphicon glyphicon-step-forward"></i><span class="sr-only">Last Page</span>
</button> </li></ul>
</div>
</body>
</html>
